@import './variables.scss';

@mixin transform($transforms) {
	   -moz-transform: $transforms;
	     -o-transform: $transforms;
	    -ms-transform: $transforms;
	-webkit-transform: $transforms;
          transform: $transforms;
}

@mixin skewY ($y) {
   @include transform(skewY(#{$y}deg));
}

.bgSkew > div {
  position: absolute;
  width: 100%;
   @include skewY(170);
}

.bgSkew {
  .bgSkew__layer1--dark-purple {
    height: 12em;
    background: $dark-purple;
    top: -150px;
    z-index: -1;
  }

  .bgSkew__layer2--purple {
		height: 28em;
    background: $purple;
    top: 20px;
    z-index: -5;
  }

  .bgSkew__layer3--purple-blue {
		height: 14em;
    background: $purple-blue;
    top: 350px;
    top: 410px;
    z-index: -10;
  }

	.bgSkew__layer4--white {
		height: 58em;
    background-color: $white;
    top: 610px;
    position: absolute;
    z-index: -15;
	}
}
