@import './variables.scss';

footer {
  background: $purple-blue;
  height: 360px;
  padding: 50px 80px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-start;
  justify-content: center;
  align-items: center;
  align-content: center;

  section {
    display: inline-block;
    flex-grow: 2;
    flex-basis: 260px;
    padding: 0 40px;


    p { margin: 0; }

  }

  section:nth-child(5) {
    flex-grow: 1;
    flex-basis: 40px;
  }
}

footer > section > div:first-child > p,
footer > section > p:first-child {
  font-weight: bolder;
}

.footer__contact {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-content: center;
  align-items: flex-start;

  div {
    width: 100%;
    position: relative;
    margin: 12px 0;

    i {
      width: 16px;
      display: inline-block;
      margin-right: 12px;
    }

    p {
      display: inline-block;
    }
  }

  .fa-phone {
    font-size: 1.4em;
  }

  .fa-map-marker {
    position: relative;
    top: -45px;
    font-size: 1.4em;
  }

  .footer__contact-location {
    display: inline-block;
    width: 180px;

    p {
      display: block;
    }
  }
}

.footer__company,
.footer__services,
.footer__other {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-content: center;
  align-items: flex-start;

  p, a {
    padding-bottom: 17px;
  }

  p:nth-child(1) {
    font-weight: 900;
  }

  a {
    color: $lighter-grey;
    transition-duration: 0.3s;
  }

  a:hover { color: $white; }
}

.social {
  height: 205px;
  position: relative;
  top: 0;

  a {
    i {
      padding-bottom: 15px;
      color: $purple-grey;
      transition-duration: 0.5s;
    }
    i:hover {
      color: $white;
    }
  }
}
