@import './variables.scss';

// $search-height: 65px;

.main > header,
.main > div,
.main > section {
  width: 90%;
  margin: 0 auto;
  padding: 30px;
}

.main {
	margin-top: 7.5em;
  text-align: center;

  header > h1,
  header > div {
    width: 44%;
    margin: 0 auto;
    padding: 10px 40px;
    letter-spacing: 1.2px;
    line-height: 63px;
  }

  header {
    h1 { font-size: 3em; }
    h1 { span { color: $lime-green; }}

    div {
      padding: 0;
    }

    .main__search {
      height: 65px;
      margin: 30px auto;

      input, button { height: 100%; }

      input {
        padding: 20px;
        width: 75.7%;
        border-radius: 8px;
        font-size: 1.2em;
        float: left;
      }

      ::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
        color: $light-grey;
      }

      :-ms-input-placeholder { /* Internet Explorer 10-11 */
        color: $light-grey;
      }

      ::-ms-input-placeholder { /* Microsoft Edge */
        color: $light-grey;
      }

      button {
        background: $lime-green;
        line-height: 100%;
        width: 22%;
        border-radius: 8px;
        color: $white;
        font-size: 1.2em;
        font-weight: 100;
        padding: 0;
        float: right;
      }
    }
  }

  .main__learn-more {
    height: 250px;
    margin: 50px auto;

    span {
      text-transform: uppercase;
      line-height: 65px;
      font-weight: 100;
    }

    div {
      i {
        background: $lime-green;
        padding: 20px;
        border-radius: 60px;
      }
    }
  }
}
