@import './variables.scss';

.main > header,
.main > div,
.main > section {
  width: 90%;
  margin: 0 auto;
  padding: 30px;
}

.main {
	margin-top: 7.5em;
  text-align: center;

  // MAIN <HEADER>
  header > h1,
  header > div {
    width: 545px;
    margin: 0 auto;
    padding: 10px 40px;
    letter-spacing: 1.2px;
    line-height: 63px;
  }

  header {
    h1 { font-size: 3em; }

    h1 {
      span {
        color: $lime-green;
        font-weight: 700;
      }
    }

    .main__search {
      height: 65px;
      margin: 30px auto;
      padding: 0;

      input, button { height: 100%; }

      input {
        padding: 20px;
        width: 75.7%;
        font-size: 1.2em;
        float: left;
      }

      /* Chrome, Firefox, Opera, Safari 10.1+ */
      ::placeholder { color: $light-grey; }

      /* Internet Explorer 10-11 */
      :-ms-input-placeholder { color: $light-grey; }

      /* Microsoft Edge */
      ::-ms-input-placeholder { color: $light-grey; }

      button {
        background: $lime-green;
        color: $white;
        line-height: 100%;
        width: 22%;
        font-size: 1.2em;
        font-weight: 100;
        margin-left: 5px;
        padding: 0;
      }
    }
  }

  // MAIN LEARN MORE <DIV>
  .main__learn-more {
    height: 250px;
    margin: 50px auto;
    margin-bottom: 0;

    span {
      text-transform: uppercase;
      line-height: 65px;
      font-weight: 100;
    }

    div {
      i {
        background: $lime-green;
        padding: 20px;
        border-radius: 60px;
      }
    }

    // ARROW ANIMATION
    .main__arrow-animate {
      animation: MoveUpDown 1.7s linear infinite;
      position: relative;
      left: 0;
      bottom: 0;
    }
  }

  // MAIN DESCRIPTION <DIV>
  .main__description {
    width: 865px;

    p {
      color: $dark-grey;
      font-size: 1.4em;
      padding: 15px 0;
    }

    button {
      text-transform: uppercase;
      color: $white;
      background: $purple;
      padding: 10px 25px;
      font-size: 1em;
      letter-spacing: 0.5px;
      transition: all 0.4s;

      background: linear-gradient(to right, white 50%, $purple 50%);
      background-size: 200% 100%;
      background-position: right bottom;
      transition: all .5 ease-out;
    }

    button:hover {
      background: $white;
      color: $purple;
      border: 2px solid $purple;

      background-position: left bottom;
      color: $purple;
    }
  }

  // MAIN SERVICES <SECTION>
  .main__services {
    margin: 40px auto;

    h4 {
      color: black;
      font-size: 1.5em;
      font-weight: 100;
      margin: 0;
    }

    hr {
      width: 60px;
      height: 3px;
      background: black;
      border: 1px solid black;
      margin-bottom: 30px;
    }

    .main__services-cards-container {
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      justify-content: center;
      align-items: center;

      .main__services-card {
        width: 550px;
        height: 200px;
        color: black;
        text-align: left;
        background: #fcfcfd;
        border: 2px solid #ebebeb;
        border-radius: 10px;
        margin: 10px 18px;
        overflow: hidden;

        img {
          width: 150px;
          float: left;
          position: relative;
          left: -25px;
          top: 50%;
          transform: translateY(-50%);
        }

        .main__services-card-text {
          display: inline-block;
          width: 395px;
          margin: 0;
          float: right;
          position: relative;
          top: 50%;
          transform: translateY(-50%);

          h5 {
            font-size: 1.3em;
            margin: 10px 0;
            text-transform: uppercase;
            display: inline-block;
          }

          i {
            padding: 0 10px;
            position: relative;
            top: -2px;
          }

          p {
            font-size: 1em;
            color: $light-grey;
            margin: 10px 0;
            padding-right: 10px;
          }
        }
      }
    }
  }

  // MAIN READY CREATE CONTACT <SECTION>
  .main__ready-create-contact {
    padding: 5px 90px;
    margin-bottom: 50px;

    div {
      width: 50%;
      display: inline-block;

      p { margin: 0; font-size: 1.5em; }

      p:nth-child(1) { color: $purple-blue; }
      p:nth-child(2) { color: $darker-purple; }
    }

    div:nth-child(1) { text-align: left; }
    div:nth-child(2) {
      text-align: right;

      button {
        text-transform: uppercase;
        padding: 10px 23px;
        margin: 10px;
        border-radius: 10px;
        font-size: 1em;
        box-shadow: 0px 3px 20px $lighter-grey;
        position: relative;
        top: 50%;
        transform: translateY(-50%);
        transition: all 0.5s;
      }

      button:nth-child(1) {
        background: linear-gradient(to right, white 50%, $purple-blue 50%);
        color: $white;
        background-size: 200% 100%;
        background-position: right bottom;
      }

      button:nth-child(1):hover {
        background-position: left bottom;
        color: $purple-blue;
      }

      button:nth-child(2) {
        background: $white;
        background: linear-gradient(to right, $purple-blue 50%, white 50%);
        color: $purple-blue;
        background-size: 200% 100%;
        background-position: right bottom;
      }

      button:nth-child(2):hover {
        background-position: left bottom;
        color: $white;
      }
    }
  }

  .fadeInUp {
    -webkit-animation-name: fadeInUp;
    -moz-animation-name: fadeInUp;
    -o-animation-name: fadeInUp;
    animation-name: fadeInUp;
  }
}


// KEYFRAME ANIMATIONS
@keyframes MoveUpDown { // for .main__learn-more arrow infinite animation
  0%, 100% {
    bottom: 0;
  }
  50% {
    bottom: 10px;
  }
}

@keyframes fadeInUp { // for react-reveal of text on scroll
  0%   {
    opacity: 0;
    transform: translate3d(0,100%,0);
  }
  100% {
    opacity: 1;
    transform: translateZ(0);
  }
}

// MEDIA QUERIES
@media screen and (max-width: 1368px) {
  .main {
    .main__services {
      .main__services-cards-container {
        .main__services-card {
          width: 70%;
        }
      }

      .main__services-card > img { width: auto; }
      .main__services-card > .main__services-card-text { width: 70%; }
    }
  }
}

@media screen and (max-width: 940px) {
  .main {
    .main__learn-more {
      height: auto;
      margin-top: 50px;
    }

    .main__description { width: 90%; }

    .main__services {
      .main__services-cards-container {
        .main__services-card {
          width: 500px;

          .main__services-card-text { width: 330px; }
        }
      }
    }
  }
}

@media screen and (max-width: 785px) {
  .main {
    .main__ready-create-contact {
      padding: 0;
      width: 90%;

      div {
        display: block;
        width: 100%;
        margin: 50px auto;
      }

      div:nth-child(1),
      div:nth-child(2) { text-align:center; }
    }
  }
}

@media screen and (max-width: 660px) {
  .main {
    header { width: 100%; }

    .main__services {
      .main__services-cards-container {
        .main__services-card {
          width: 500px;

          .main__services-card-text {
            width: 60%;

            h5 { font-size: 1em; }
            p { font-size: 0.8em; }
          }
        }
      }
    }
  }
}

@media screen and (max-width: 600px) {
  .main header > h1,
  .main header > div { width: 90%; }

  .main {
    header {
      h1 { line-height: 50px; padding: 0; }

      .main__search {
        input, button { font-size: 1em; }
      }
    }
  }
}

@media screen and (max-width: 528px) {
  .main > header,
  .main > div,
  .main > section { width: 95%; }

  .main {
    margin-top: 9em;

    .main__services {
      .main__services-cards-container {
        .main__services-card {
          width: 100%;

          img { width: 100px; }

          .main__services-card-text {
            width: 65%;

            h5 { font-size: 1em; }
            p { font-size: 0.8em; }
          }
        }
      }
    }
  }
}

@media screen and (max-width: 472px) {
  .main {
    .main__ready-create-contact {
      div {
        button:nth-child(2) { width: 238.5px; }
      }
    }
  }
}

@media screen and (max-width: 465px) {
  .main {

    header {
      h1 { font-size: 2.9em; }

      .main__search {
        input, button {
          font-size: 0.9em;
          padding: 12px;
        }
      }

      .main__learn-more {
        span { font-size: 0.9em; }
      }
    }
  }
}

@media screen and (max-width: 445px) {
  .main {
    header, div, section { padding: 20px 10px; }
    header {
      h1 { font-size: 2.7em; }

      .main__search {
        height: 55px;
        line-height: 55px;
      }
    }
  }
}

@media screen and (max-width: 414px) {
  .main > header,
  .main > div,
  .main > section { width: 100%; }

  .main {
    .main__services {
      margin-bottom: 0;

      .main__services-cards-container {
        .main__services-card {
          width: 100%;

          img { display: none; }

          .main__services-card-text {
            width: 95%;

            h5 { font-size: 1em; }
            p { font-size: 0.8em; }
          }
        }
      }
    }

    .main__learn-more {
      margin-top: 25px;

      span {
        line-height: 40px;
        font-size: 0.9em;
      }
    }

    .main__ready-create-contact {
      div { margin: 20px auto; }
    }
  }
}



@media screen and (max-width: 411px) {
  .main {
    .main__learn-more {
      span { font-size: 0.9em; }
    }
  }
}

@media screen and (max-width: 320px) {
  .main {
    header {
      .main__search {
        input, button { font-size: 0.7em; }
      }
    }

    .main__learn-more {
      span { font-size: 0.8em; }
    }
  }
}
