$darker-purple: #590073; // "create an account, or contact us."
$dark-purple: #752ed0;
$purple: #7652e3;
$purple-blue: #736fdf; // also used in footer & "create your acc" btns
$purple-grey: #564da9; // social icons
$dark-grey: #3a3a3a; // used for text
$grey: #f7f9fc;
$light-grey: #bfbfbf; // search bar
$lighter-grey: #d4d2da; // button shadow
$lightest-grey: #f2f4f5;
$white: #fff;
$lime-green: #81d398; // used for buttons
