$dark-purple: #752ed0;
$purple: #7652e3;
$purple-blue: #736fdf; // also used in footer & "create your acc" btns
$grey: #f7f9fc;
$lime-green: #81d398; // used for buttons
$light-grey: #bfbfbf; // search bar
$lightest-grey: #f2f4f5;
$white: #fff;
