/* Global Styles */

@import url('https://fonts.googleapis.com/css?family=Prompt');

*, *:after, *:before { -webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box; }

html { min-width: 100%; }

body, html { font-size: 100%; padding: 0; margin: 0; overflow: auto; }

body {
  font-family: 'Prompt', sans-serif;
  color: white;
  background: #f2f4f5;
}

button {
  font-family: 'Prompt', sans-serif;
  border: none;
  background: transparent;
  cursor: pointer;
}

button:focus {
  outline: none;
  color: #333;
}

input {
  font-family: 'Prompt', sans-serif;
  border: none;
}

p,
span {
  font-weight: 100;
}

.clearfix:before, .clearfix:after { content: " "; display: table; }
.clearfix:after { clear: both; }
